.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  display: flex;
  justify-content: space-between;
}

.navbar div:nth-child(1) {
  width: 20%;
}
.navbar div:nth-child(2) {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  text-align: left;
  font: normal normal normal 1.1vw/1.3vw Montserrat;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
}
.nav-container div:nth-child(2) {
  min-width: 35%;
}
/* .nav-container div:nth-child(3),
  .nav-container div:nth-child(4) {
    min-width: 10%;
  } */

.navlink {
  text-decoration: none;
  color: black;
  /* width: 6vw; */
}
.navbar img {
  height: 100%;
  margin-left: 35px;
}

.icon {
  height: 50%;
}

.active {
  font-weight: 500;
}

/* Black Tile with React Logo */

.tile {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-tile {
  width: 85%;
  height: 6vw;
  background: black;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}
.react-tile img {
  height: 100%;
}
.react-tile p {
  width: 22%;
  padding-left: 1.5vw;
  padding-top: 1vw;
  margin: 0;
  font: normal normal 500 1.2vw/1.5vw Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}

/* Implementing DashBoard */
.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* border: 2px solid; */
  width: 100%;
  height: calc(100vh - (185px)); /*60+90+15
    /* height: 500px; */
}

.container {
  width: 85%;
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
}
.course-table {
  width: 70%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}
.cart {
  width: 28%;
  height: 82%;
  /* border: 2px solid; */
  box-shadow: 0px 3px 6px #00000029;
}

.sorting {
  height: 6%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.sorting p {
  height: 100%;
  margin: 0 20px;
  text-align: left;
  font: normal normal 500 1vw/1.2vw Montserrat;
  letter-spacing: 0px;
  color: #0f1317;
  opacity: 1;
}

.sorting select {
  width: 20%;
  text-align: center;
  font: normal normal 1vw/1.2vw Montserrat;
  letter-spacing: 0px;
  color: #0f1317;
  opacity: 1;
  border-radius: 4px;
}

/* Need to implememnt the background of dropdown */

.course-content {
  margin-top: 20px;
  height: 100%;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
}

.course-content > div {
  height: 13%;
  /* border: 2px solid; */
}

.course {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f4f4f4;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
}
/* .course > div {
    width: 12%;
    height: 100%;
    border: 2px solid;
  } */

.square {
  width: 7%;
  height: 70%;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  margin-left: 2%;
}
.title-container {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  /* border: 2px solid black; */
  text-align: left;
  font: normal normal 500 1vw/1.2vw Montserrat;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
  word-wrap: break-word;
}
.tags {
  /* border: 2px solid black; */
  font: normal normal 400 0.7vw/1vw Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}
.tags > span {
  background-color: #ff6738;
  text-align: center;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding: 2px 20px;
  border-radius: 4px;
}

.author {
  /* border: 2px solid; */
  width: 15%;
  height: 100%;
  position: relative;
  top: 40%;
  font: normal normal 400 0.7vw/1vw Montserrat;
}

.add-to-wishlist {
  width: 3%;
  /* border: 2px solid; */
  height: 100%;
}

.star {
  position: relative;
  top: 25%;
  height: 50%;
  width: 80%;
  /* border: 2px solid; */
  cursor: pointer;
}

.price {
  /* border: 2px solid; */
  width: 8%;
  text-align: left;
  font: normal normal bold 1vw/1.2vw Montserrat;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
  text-align: center;
  position: relative;
}

.discount {
  /* border: 2px solid; */
  width: 8%;
  text-align: center;
  position: relative;
  font: normal normal 400 0.8vw/1vw Montserrat;
  text-decoration: line-through;
}
.add_to_cart {
  /* border: 2px solid; */
  height: 100%;
  width: 15%;
  text-align: center;
  position: relative;
}
.add_to_cart button {
  background-color: #ff6738;
  font: normal normal 500 0.8vw/1vw Montserrat;
  color: white;
  position: relative;
  top: 25%;
  padding: 0.8vw 1vw;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.display_course {
  width: 2%;
  cursor: pointer;
}

/* Mini Cart on Landing Page Styling */

.mini_cart {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 2px solid; */
  height: 100%;
}
.search-area-mini-cart {
  height: 7%;
  /* border: 2px solid; */
  display: flex;
  /* overflow: hidden; */
}
.search-area-mini-cart input {
  /* border: 2px solid; */
  height: 87%;
  padding-left: 1vw;
  width: 85%;
  border: none;
  background: #eff2ff 0% 0% no-repeat padding-box;
}
.mini_cart_search_img {
  height: 70%;
  background-color: #ff6738;
}
.search-area-mini-cart button {
  width: 15%;
  height: 92%;
  background-color: #ff6738;
  border: none;
  cursor: pointer;
}
.mini_cart_details {
  /* margin-top: 1vw; */
  height: 6%;
  width: 90%;
  /* border: 2px solid; */
  font: normal normal 500 1.1vw/1.3vw Montserrat;

  /* box-shadow: 0px 0px 6px 0px #00000029; */
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
  text-align: center;
  margin-top: 0.8vw;
  margin-left: 1.3vw;
}

.mini_cart_item_container {
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 70%;
  width: 90%;

  margin: 1vw;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.mini_cart_item_container > div {
  min-height: 30%;
  width: 95%;
  /* border: 2px solid; */
}

.mini_cart_value {
  height: 15%;
  width: 90%;
  margin: 0 1vw;
  display: flex;
  flex-direction: column;
}
.total_price_label_mini_cart {
  height: 20%;
  font: normal normal normal 0.9vw/1vw Montserrat;
  margin: 0;
}

.total_price_mini_cart {
  font: normal normal bold 1.5vw/1.8vw Montserrat;
  padding: 1vw 0;
  height: 80%;
  margin: 0;
  /* border: 2px solid; */
  vertical-align: left;
}

.empty_mini_cart {
  text-align: left;
  font: italic normal 1vw/1.2vw Montserrat;
  letter-spacing: 0px;
  color: #aaaaaa;
  opacity: 1;
}

.item_mini_cart {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}
.mini_cart_name_square {
  height: 70%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid; */
  font: normal normal 500 1.2vw/1.5vw Montserrat;
}
.mini_cart_square {
  margin: 0.5vw;
  height: 80%;
  width: 20%;
  background: #f2f2f2 0% 0% no-repeat padding-box;
}
.mini_cart_name {
  margin: 0.1vw;
  height: 100%;
  width: 80%;
  /* border: 2px red solid; */
}

.mini_cart_item_price {
  padding-left: 15vw;
  font: normal normal bold 1.2vw/1.5vw Montserrat;
}
